nav{
    display: flex;
    justify-content: space-between;
}
h2{
    background-color: blue;
}
ul{
    display: flex;
}
ul li{
    margin-right: 20px;
    list-style: none;
}
button{
    background-color: blue;
    color: white;
}
h1{
    color: blueviolet;
}