.inter-font-style{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background:linear-gradient(to right, #FB09B4, #9100F8 );
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
nav{
    height: 92px;
}
.nav-btn{
    background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
/* shered styles */
#bg-color{
    background-color: rgba(26, 11, 46, 1);
}